<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">

<!-- Pull in the compiled stylesheet. Harp will compile this automatically to css from scss -->
<link rel="stylesheet" href="../css/main.css">

