<html>
  <head>
    <!-- import the head partial -->
    <%- partial("../partials/_head") %>
  </head>
  <body>
    <div class="container-fluid">

      <!-- pull in the header/navbar partial: -->
      <%- partial("../partials/_header") %>
      <div class="row">
        <div class="journal-content col-md-8 p-0">
          <!-- Create the title banner, using the title and image from data.json -->
          <%- yield %>
        </div>
      </div> <!-- end of row -->

      <%- partial("../partials/_footer") %>

    </div> <!-- end container -->
  </body>
</html>
