<html>
  <head>
    <!-- import the head partial -->
    <%- partial("partials/_head") %>
  </head>

  <body>
    <div class="container-fluid">

      <!-- pull in the header/navbar partial: -->
      <%- partial("partials/_header") %>

      <!-- Pull in the body content -->
      <%- yield %>

      <!-- pull in the footer -->
      <%- partial("partials/_footer") %>


    </div> <!-- end container -->
  </body>
</html>
